<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/"><h1>Mahanty Group</h1></a>
    <a href="/"><h4>Home</h4></a>
    <a href="/about"><h4>About</h4></a>
    <a href="/blog"><h4>Blog</h4></a>
</body>
</html>